In [ ]:
# Author: Matthew Rodriguez
# Date: 2020/02/23
# CS301-006, Professor Watson
# HW4 Solution
# Reading csv files to determine percentage of empty values, highest number of specific column, 
# second highest average, get continent from country/region, and get the total number of confirmed cases. 
# link to the git repo: https://github.com/MatthewRodriguez?tab=repositories
# link-to-the-relevant-git-commit: https://github.com/MatthewRodriguez/HW4/blob/master/HW4.ipynb
# name-of-the-branch: master

# Solution Homework #4

### Problem #1

In [3]:
import pandas as pd
import numpy as np

def get_percent_nans(my_df, col):
    d = my_df.loc[(my_df[col]).isna()]
    p = d.shape[0]
    m = my_df.shape[0]
    percent = (p/m) * 100
    return percent

doc = pd.read_csv('/Users/matthewrodriguez/documents/cs 301/homework/HW4/2019_nCoV_20200121_20200206.csv')
df = pd.DataFrame(doc)

for col in df.columns:
    print('the \"{}\" column has {:.2f}% empty values'.format(col, get_percent_nans(df, col)))

the "Province/State" column has 24.45% empty values
the "Country/Region" column has 0.00% empty values
the "Last Update" column has 0.00% empty values
the "Confirmed" column has 1.60% empty values
the "Suspected" column has 95.31% empty values
the "Recovered" column has 46.67% empty values
the "Death" column has 53.22% empty values

### Problem #2

In [4]:
def highest(df, col):
    max = df[col].max()
    count = df.loc[(df[col]>=max)]
    return count

highest(df, 'Death')

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0
70,Hubei,Mainland China,2/4/20 23:43,16678.0,NaN,522.0,479.0

### Problem #3

In [5]:
highest(df, 'Suspected')

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
1532,Hong Kong,Hong Kong,1/26/2020 11:00 AM,8.0,244.0,NaN,NaN
1581,Hong Kong,Hong Kong,1/25/2020 12:00 PM,5.0,244.0,NaN,NaN
1623,Hong Kong,Hong Kong,1/25/2020 12:00 PM,5.0,244.0,NaN,NaN

### Problem #4

In [26]:
recovered = []
for i in df['Country/Region'].unique():
    rec = df.loc[(df['Country/Region']==i)]
    recovered.append(rec['Recovered'].mean())
    
recovered.sort(reverse=True)
recovered[1]

4.5

### Problem #5 and #6

In [7]:
def get_continent(country):
    continent = {
        'Asia':['South Korea', 'Japan', 'Thailand', 'Mainland China', 'Philippines', 'Hong Kong', 'Vietnam', 'Macau',
                'Malaysia', 'Nepal', 'Sri Lanka', 'Taiwan', 'Cambodia', 'United Arab Emirates', 'Singapore' , 'India'],
        'Europe':['France', 'Finland', 'Germany', 'Italy', 'Spain', 'UK', 'Russia', 'Belgium', 'Sweden'],
        'North America':['United States', 'Mexico', 'Canada'],
        'South America':['Brazil', 'Colombia'],
        'Australia':['Australia'],
        'Africa':['Ivory Coast']
    }
    for key,val in continent.items():
        if country in val:
            return key

get_continent('UK')

'Europe'

### Problem #7

In [8]:
list = []
for i in df['Country/Region']:
    list.append(get_continent(i))
df['Continent'] = list
df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia
...,...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN,Asia
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN,Asia
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN,Asia
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN,North America

### Problem #8

In [9]:
for c in df['Continent'].unique():
    total_df = df.loc[(df['Confirmed']>=0) & (df['Continent']==c)]
    total = total_df['Confirmed'].sum()
    print(c + ':', total)

Asia: 304958.0
Europe: 421.0
Australia: 238.0
North America: 273.0
Africa: 1.0
South America: 0.0